
.d-flex-c{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.d-flex-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mr-auto{
    margin-right:auto;
}
.mb-1{}
.mb-2{}
.mb-3{}
.mb-4{}
.mb-5{}
.mb-6{}




.font-s {font-size: $font-s;} //14
.font-n {font-size: $font-n;} //16
.font-sm {font-size: $font-sm;} //20
.font-m {font-size: $font-m;} //24
.font-l {font-size: $font-l;} //32
.font-ll {font-size: $font-ll;} //48 


.reset-btn{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
