.d-none{
    display: none;
}
.d-flex{
    display: flex;
}
.d-flex-c{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap; //added
}
.d-flex-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; //added
}
.d-flex-s{
    display: flex;
    justify-content: flex-start;
}


.m-0-a{ margin: 0 auto;}
.mr-auto{
    margin-right:auto;
}
.mr-10{margin-right: 10px;}

.mb-40{margin-bottom: 40px;}
.mb-80{margin-bottom: 80px;}
.mb-1{}
.mb-2{}
.mb-3{}
.mb-4{}
.mb-5{}
.mb-6{}
// px-0 ,py-0....px-1 , py-1



.font-s {font-size: $font-s;} //14
.font-n {font-size: $font-n;} //16
.font-sm {font-size: $font-sm;} //20
.font-m {font-size: $font-m;} //24
.font-l {font-size: $font-l;} //32
.font-ll {font-size: $font-ll;} //48 
.font-42 {font-size: 42px;}

.font-w-light {font-weight: 300;}
.font-w-normal {font-weight: normal;}
.font-w-bold {font-weight: bold;}

.text-a-c {text-align: center;}
.bg-img-center{ @include bg-img-center;}

.reset-btn{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
