.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $color-main;
    padding: 30px 4.6%;//30px 88px;
    font-size: $font-size-sm; //20px
    h1 {   
        a{
            background: url(../images/logo.png);
            background-size: cover;
            width:80px;
            height:49px;
            display: block;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap; 
        }    
    } 
    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li+li{
            margin-left: 3rem;
        }
        a{ 
            color: white;
        }
    }  
}

/*------------ pad -------------*/
@media (max-width:$pad-width){
    .header{
        padding: 30px 3.9%;//30px 39px;
        li+li{
            margin-left: 2.5rem;
        }
    }
}
/*---------phone--------------*/
@media (max-width:$phone-width){
    .header {
        padding: 0;
        h1{
            width: 100%;
            margin: 10px 0px;
            a{
                margin: 0px auto;
                width: 80*0.6px;
                height: 49*0.6px;
            }
        }
        ul{
            width: 100%;
            li{
                width: 50%;
                text-align: center;
                padding: 8px 0px;
                border:white 1px solid;
            }
            li+li{
                margin-left: 0px;
            }
        }
    }
}