/* serial nav */
.serial-list{
    display: flex;
    justify-content: center;
    font-family: $font-family-main;
    li{
        display: block;
        width: 33.33%;
        border-right: 1px solid $color-banner-border;
        &:first-child{
            border-left: 1px solid $color-banner-border;
        }
        &.active{
            border-bottom: 8px solid $color-main;
             @include phone{
                border-bottom: 5px solid $color-main;
             }
        }
    }
    a{
        display: flex;
        justify-content: center;
        padding: 26px 0 18px 0; // 26-8 broder = 18
        &:hover{
            background-color: $color-sec ;
        }
        @include pad{ padding: 14px 0 6px;}
        @include phone{ padding: 6px 0 1px;}
    }
    img{
        width: 44px;
        height: 44px;
        margin-right: 10px;
        @include pad{
            width: 30px;
            height: 30px;
        }
        @include phone{
            width: 14px;
            height: 14px;
            margin-right: 3px;
        }
    }
    h4{
        font-size: $font-size-l;
        font-weight: bold;
        color: black;
        @include pad{
            font-size: $font-size-m; //24
        }
        @include phone{
            font-size: $font-size-s; //14
        }
    }
}
/* seiral banner */
.serial-banner{
    display: flex;
    margin-bottom: 80px;
    @include pad{  margin-bottom: 56px;}
    @include phone{ margin-bottom: 32px;}
}
.serial-banner-item{
    width: 50%;
    height: 304px;
    @include bg-img-center;
    @include phone{
        height: 148px;
    }
}
.serial-banner-optical1{
    background-image: url(../images/banner-1.png);
}
.serial-banner-optical2{
    background-image: url(../images/banner-2.png);
}
.serial-banner-sunglasses1{
    background-image: url(../images/banner-3.png);
}
.serial-banner-sunglasses2{
    background-image: url(../images/product-2-color.png);
}

/* serial content */
.serial-content{
    padding-bottom: 160px;
    @include pad{ padding-bottom: 96px;}
    @include phone{ padding-bottom: 56px;}
}
.seiral-inner-content{
    color: black;
    h2{
        font-size: 42px;
        color: black;
        @include pad{ font-size: $font-size-l;} //32
        @include phone{ font-size: $font-size-sm;} //20
    }
    h3{
        text-align: center;
        font-size: $font-size-l;
        margin-bottom: 40px;
        @include pad{ 
            font-size: $font-size-m; //24
            margin-bottom: 32px;
        } 
        @include phone{ 
            font-size: 1rem;
            margin-bottom: 20px;
        } 
    }
}
/* ---- product card----- */
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .product-card{
        margin-left: 30px; 
    }
}
.product-detial{
    display: flex;
    justify-content: space-between;
    font-size: $font-size-m; //24
    @include phone{ font-size: 1rem;}
}
.product-price{
    font-weight: bold;
    color: $color-main ;
}
.product-color-list{
    display: flex;
    justify-content: flex-start;
    .product-color{
        width: 24px;
        height: 24px;
        margin-right: 8px;
        border-radius: 4px;
        @include phone{ 
            width: 1rem; height:1rem;
            margin-right: 4px;
        }
    }
}
.product-img{
    @include bg-img-center;
}
.product-color-1{
    background-color: $product-color-brown;
}
.product-color-2{
    background-color: $product-color-orange;
}
/*----product card end -----*/

.opt-list{
    margin-bottom: 96px;
    @include pad{ margin-bottom: 65px;}
    @include phone{ margin-bottom: 40px;}
    .opt-card{
        width: calc((100% - 90px)/4);
        &:nth-child(4n+1){
            margin-left: 0px;
        } 
        &:not(:nth-last-child(-n+4)){ //not-last 4 child
            margin-bottom: 104px;
            @include pad{ margin-bottom: 72px;}
            @include phone{  margin-bottom: 32px; }
        }
        @include pad{
            width: calc((100% - 30px)/2); 
            margin-bottom: 0px; 
            &:nth-child(2n-1){
                margin-left: 0px;
            }
            &:not(:nth-last-child(-n+2)){ 
                margin-bottom: 65px;
            }
        }
        @include phone(){
            width: 100%;
            margin: 0px;
            &:not(:nth-last-child(1)){
                margin-bottom: 32px;
            }
            &:nth-child(2n){margin-left: 0;}
        }  
    }
}
.opt-img{
    height: 164px;
    @include phone {
        height: 166px;
    }
} 
.opt-p-1{
    background-image: url(../images/products-1.png);
}
.opt-p-2{
    background-image: url(../images/products-7.jpg);
}
.opt-p-3{
    background-image: url(../images/products-8.jpg);
}
.opt-p-4{
    background-image: url(../images/products-10.jpg);
}
.opt-p-5{
    background-image: url(../images/products-9.jpg);
}
.opt-p-6{
    background-image: url(../images/products-12.jpg);
}
.sun-p-1{
    background-image: url(../images/products-4.png);
}
.sun-p-2{
    background-image: url(../images/products-3.png);
}
.sun-p-3{
    background-image: url(../images/products-2.png);
}
.sun-p-4{
    background-image: url(../images/products-6.jpg);
}
.sun-p-5{
    background-image: url(../images/products-11.jpg);
}
.sun-p-6{
    background-image: url(../images/products-5.jpg);
}

/* --------- sunglasses serial -----*/
.sun-list{
    @include phone{ margin-bottom: 40px;}
    .sun-card{
        width: calc((100% - 60px)/3);
        &:nth-child(3n+1){
            margin-left: 0px;
            @include pad{ margin-left: 30px;}
        } 
        &:not(:nth-last-child(-n+3)){ //not-last 3 child
            margin-bottom: 104px;
            @include pad{ margin-bottom: 72px;}
            @include phone{  margin-bottom: 32px; }
        }
        @include pad{
            width: calc((100% - 30px)/2); 
            margin-bottom: 0px; 
            &:nth-child(2n-1){
                margin-left: 0px;
            }
            &:not(:nth-last-child(-n+2)){ 
                margin-bottom: 72px;
            }
        }
        @include phone(){
            width: 100%;
            margin: 0px;
            &:not(:nth-last-child(1)){
                margin-bottom: 32px;
            }
            &:nth-child(2n){margin-left: 0;}
        }  
    }
}
.sun-img{
    height: 224px;
    @include pad {
        height: 164px;
    }
    @include phone {
        height: 166px;
    }
} 
.sun-pagination{
    display: none;
    @include phone {
        display: flex;
    }
}