/* serial nav */
.serial-list{
    font-family: $font-family-main;
    li{
        display: block;
        width: 33.33%;
        border-right: 1px solid $color-banner-border;
        &:first-child{
            border-left: 1px solid $color-banner-border;
        }
        &.active{
            border-bottom: 8px solid $color-main;
             @include phone{
                border-bottom: 5px solid $color-main;
             }
        }
    }
    a{
        padding: 26px 0 18px 0; // 26-8 broder = 18
        &:hover{
            background-color: $color-sec ;
        }
        @include pad{ padding: 14px 0 6px;}
        @include phone{ padding: 6px 0 1px;}
    }
    img{
        width: 44px;
        height: 44px;
        @include pad{
            width: 30px;
            height: 30px;
        }
        @include phone{
            width: 14px;
            height: 14px;
            margin-right: 3px;
        }
    }
    h4{
        font-size: $font-l;
        color: black;
        @include pad{
            font-size: $font-m; //24
        }
        @include phone{
            font-size: $font-s; //14
        }
    }
}
/* seiral banner */
.serial-banner{ //flex //mb80
    @include pad{  margin-bottom: 56px;}
    @include phone{ margin-bottom: 32px;}
}
.serial-banner-item{
    width: 50%;
    height: 304px;
    @include phone{
        height: 148px;
    }
}
.serial-banner-opt1{
    background-image: url(../images/banner-1.png);
}
.serial-banner-opt2{
    background-image: url(../images/banner-2.png);
}
.serial-banner-sun1{
    background-image: url(../images/banner-3.png);
}
.serial-banner-sun2{
    background-image: url(../images/product-2-color.png);
}

/* serial content */
.serial-content{
    padding-bottom: 160px;
    @include pad{ padding-bottom: 96px;}
    @include phone{ padding-bottom: 56px;}
}
.seiral-inner-content{
    color: black;
    h2{
        color: black;
        @include pad{ font-size: $font-l;} //32
        @include phone{ font-size: $font-sm;} //20
    }
    h3{
        text-align: center;
        @include pad{ 
            font-size: $font-m; //24
            margin-bottom: 32px;
        } 
        @include phone{ 
            font-size: $font-n;
            margin-bottom: 20px;
        } 
    }
}
/* ---- product card----- */
.product-list{ //with d-flex-sb'
    gap: 30px;
}
.product-detial{
    @include phone{ font-size: 1rem;}
}
.product-price{
    font-weight: bold;
    color: $color-main ;
}

.product-color{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 4px;
    @include phone{ 
        width: 1rem; height:1rem;
        margin-right: 4px;
    }
}

.product-color-1{
    background-color: $product-color-brown;
}
.product-color-2{
    background-color: $product-color-orange;
}
/*----product card end -----*/

.opt-list{
    margin-bottom: 96px;
    @include pad{ margin-bottom: 65px;}
    @include phone{ margin-bottom: 40px;}
    .opt-card{
        width: calc((100% - 90px)/4);
        &:not(:nth-last-child(-n+4)){ //not-last 4 child
            margin-bottom: 104px;
        }
        @include pad{
            width: calc((100% - 30px)/2); 
            margin-bottom: 0px;   
            &:not(:nth-last-child(-n+2)){ 
                margin-bottom: 65px;
            }
        }
        @include phone(){
            width: 100%;
            margin: 0px;
            &:not(:nth-last-child(1)){
                margin-bottom: 32px;
            }
        }  
    }
}
.opt-img{
    height: 164px;
    @include phone {
        height: 166px;
    }
} 
.opt-p-1{
    background-image: url(../images/products-1.png);
}
.opt-p-2{
    background-image: url(../images/products-7.jpg);
}
.opt-p-3{
    background-image: url(../images/products-8.jpg);
}
.opt-p-4{
    background-image: url(../images/products-10.jpg);
}
.opt-p-5{
    background-image: url(../images/products-9.jpg);
}
.opt-p-6{
    background-image: url(../images/products-12.jpg);
}
.sun-p-1{
    background-image: url(../images/products-4.png);
}
.sun-p-2{
    background-image: url(../images/products-3.png);
}
.sun-p-3{
    background-image: url(../images/products-2.png);
}
.sun-p-4{
    background-image: url(../images/products-6.jpg);
}
.sun-p-5{
    background-image: url(../images/products-11.jpg);
}
.sun-p-6{
    background-image: url(../images/products-5.jpg);
}

/* --------- sunglasses serial -----*/
.sun-list{
    @include phone{ margin-bottom: 40px;}
    .sun-card{
        width: calc((100% - 60px)/3);
        &:not(:nth-last-child(-n+3)){ //not-last 3 child
            margin-bottom: 104px;
        }
        @include pad{
            width: calc((100% - 30px)/2); 
            margin-bottom: 0px; 
            &:not(:nth-last-child(-n+2)){ 
                margin-bottom: 72px;
            }
        }
        @include phone(){
            width: 100%;
            margin: 0px;
            &:not(:nth-last-child(1)){
                margin-bottom: 32px;
            }
        }  
    }
}
.sun-img{
    height: 224px;
    @include pad {
        height: 164px;
    }
    @include phone {
        height: 166px;
    }
} 
.sun-pagination{
    display: none;
    @include phone {
        display: flex;
    }
}