/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* @include pad{} */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.5; }

a {
  text-decoration: none; }

.d-flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.d-flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mr-auto {
  margin-right: auto; }

.font-s {
  font-size: 14px; }

.font-n {
  font-size: 16px; }

.font-sm {
  font-size: 20px; }

.font-m {
  font-size: 1.5rem; }

.font-l {
  font-size: 2rem; }

.font-ll {
  font-size: 3rem; }

.reset-btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .pagination li a {
    display: block;
    border: 1px solid #555555;
    border-left-width: 0px;
    color: #555555;
    padding: 10px 16px;
    font-size: 18px; }
    .pagination li a:hover {
      background-color: #FBF2F2; }
  .pagination li:first-child > a {
    border-left-width: 1px;
    padding: 10px 12px; }
  .pagination li:last-child > a {
    background-color: #F2F2F2;
    padding: 10px 12px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #AA0601;
  padding: 30px 4.6%;
  font-size: 20px; }
  .header h1 a {
    background: url(../images/logo.png);
    background-size: cover;
    width: 80px;
    height: 49px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header ul li + li {
      margin-left: 3rem; }
    .header ul a {
      color: white; }

/*------------ pad -------------*/
@media (max-width: 992px) {
  .header {
    padding: 30px 3.9%; }
    .header li + li {
      margin-left: 2.5rem; } }

/*---------phone--------------*/
@media (max-width: 767px) {
  .header {
    padding: 0; }
    .header h1 {
      width: 100%;
      margin: 10px 0px; }
      .header h1 a {
        margin: 0px auto;
        width: 48px;
        height: 29.4px; }
    .header ul {
      width: 100%; }
      .header ul li {
        width: 50%;
        text-align: center;
        padding: 8px 0px;
        border: white 1px solid; }
      .header ul li + li {
        margin-left: 0px; } }

.footer {
  background-color: #AA0601;
  color: white;
  padding: 2rem 0 2.5rem; }
  .footer a {
    color: white; }
  .footer img {
    display: block; }

.footer-nav {
  margin-bottom: 1.5rem; }

.footer-nav-items li + li {
  margin-left: 3rem; }

.footer-media li + li {
  margin-left: 2rem; }

.footer-media-phone {
  display: none; }

.footer-contacts {
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: solid 1px #FBF2F2; }

.footer-contacts-list {
  font-size: 2rem; }
  .footer-contacts-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-contacts-list li img {
      width: 2rem;
      height: 2rem;
      margin-right: 20px; }
    .footer-contacts-list li + li {
      margin-top: 1rem; }

.service-doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .service-doc a {
    display: block;
    font-size: 14px; }
    .service-doc a:last-child {
      margin-left: 3rem; }

/*-------------pad-----------*/
@media (max-width: 992px) {
  .footer {
    padding-bottom: 2rem; }
  .footer-nav {
    margin-bottom: 18px; }
  .footer-nav-items li + li {
    margin-left: 2.5rem; }
  .footer-media li + li {
    margin-left: 1.5rem; }
  .footer-media img {
    width: 1.5rem;
    height: 1.5rem; }
  .footer-contacts {
    padding-bottom: 1.25rem;
    margin-bottom: 1.5rem; }
  .footer-contacts-list {
    font-size: 20px; }
    .footer-contacts-list li img {
      width: 18px;
      height: 18px;
      margin-right: 10px; }
    .footer-contacts-list li + li {
      margin-top: 0.75rem; }
  .service-doc a:last-child {
    margin-left: 1.5rem; } }

/*------------phone-----------*/
@media (max-width: 767px) {
  .footer {
    padding: 1.5rem 0px; }
  .footer-nav, .footer-media {
    display: none; }
  .footer-media-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer-media-phone li + li {
      margin-left: 1.5rem; }
    .footer-media-phone img {
      width: 1.5rem;
      height: 1.5rem; }
  .footer-contacts {
    margin-bottom: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
  .footer-contacts-list {
    font-size: 1rem; }
    .footer-contacts-list li img {
      width: 1rem;
      height: 1rem;
      margin-right: 6.5px; }
    .footer-contacts-list li + li {
      margin-top: 6px; }
  .service-doc p, .service-doc a {
    width: 100%;
    font-size: 14px;
    margin-bottom: 0.5rem; }
  .service-doc a:last-child {
    margin: 0px; } }

.container {
  max-width: 1110px;
  margin: 0 auto;
  font-family: "Roboto, sans-serif"; }
  .container h2 {
    font-size: 3rem;
    font-weight: 800;
    color: #650300;
    text-align: center; }
  @media (max-width: 992px) {
    .container {
      width: 90%; }
      .container h2 {
        font-size: 2rem; } }
  @media (max-width: 767px) {
    .container {
      width: 92%; }
      .container h2 {
        font-size: 1.5rem; } }

.container-padding {
  padding: 60px 0 80px 0; }
  @media (max-width: 992px) {
    .container-padding {
      padding: 40px 0 54px 0; } }
  @media (max-width: 767px) {
    .container-padding {
      padding: 30px 0 40px 0; } }

/*============== banner==================*/
.banner {
  background-image: url(../images/banner.png);
  height: 864px;
  padding-right: 21%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 992px) {
    .banner {
      padding-right: 5%; } }
  @media (max-width: 767px) {
    .banner {
      background-image: url(../images/banner-sm.png);
      height: 394px;
      padding-right: 4%; } }

.banner-text {
  text-align: right;
  color: #650300; }
  .banner-text h3 {
    font-size: 20px; }
    @media (max-width: 767px) {
      .banner-text h3 {
        font-size: 1rem; } }
  .banner-text h2 {
    font-size: 3rem;
    font-weight: bold; }
    @media (max-width: 767px) {
      .banner-text h2 {
        font-size: 2rem; } }

.slogan {
  background: #FBF2F2; }
  .slogan h2 {
    margin-bottom: 3rem; }

.slogan-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .slogan-list li {
    width: 255px;
    /*23%;*/ }
    .slogan-list li img {
      display: block;
      width: 83px;
      height: 83px;
      margin: 0 auto;
      margin-bottom: 1.5rem; }
    .slogan-list li h3 {
      text-align: center;
      color: #650300;
      font-size: 1.5rem;
      margin-bottom: 0.5rem; }
  @media (max-width: 992px) {
    .slogan-list {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .slogan-list li:nth-child(odd) {
        margin-right: 15%;
        /*105px*/ }
      .slogan-list li:nth-child(-n+2) {
        margin-bottom: 2rem; } }
  @media (max-width: 767px) {
    .slogan-list li {
      margin-right: 0px; }
      .slogan-list li:nth-child(odd) {
        margin-right: 0px; }
      .slogan-list li:not(:last-child) {
        margin-bottom: 2rem; } }

/*==================== classic serial=================*/
.classic_serial h2 {
  margin-bottom: 2.5rem; }
  @media (max-width: 992px) {
    .classic_serial h2 {
      margin-bottom: 2rem; } }
  @media (max-width: 767px) {
    .classic_serial h2 {
      margin-bottom: 1.25rem; } }

.classic-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.classic-list li:nth-child(even) a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 992px) {
    .classic-list li:nth-child(even) a {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.classic-list li:nth-child(even) .serial-name {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 0rem;
  margin-right: 2rem; }
  @media (max-width: 992px) {
    .classic-list li:nth-child(even) .serial-name {
      margin-right: 0rem;
      margin-left: 2rem;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

.classic-list li + li {
  margin-top: 2rem; }
  @media (max-width: 992px) {
    .classic-list li + li {
      margin-top: 0.5rem; } }

.serial-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 320px;
  width: 57%; }
  @media (max-width: 992px) {
    .serial-img {
      height: 168px; } }
  @media (max-width: 767px) {
    .serial-img {
      height: 134px;
      width: 100%; } }

.serial-name {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 2rem; }
  @media (max-width: 767px) {
    .serial-name {
      display: none; } }
  .serial-name img {
    margin-right: 10px; }
  .serial-name h3 {
    font-size: 3rem;
    color: #AA0601;
    font-weight: bold; }
    @media (max-width: 992px) {
      .serial-name h3 {
        font-size: 28px; } }

.serial-img-name {
  display: none; }
  @media (max-width: 767px) {
    .serial-img-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .serial-img-name img {
    height: 36px;
    width: auto; }
  @media (max-width: 767px) {
    .serial-img-name h3 {
      font-size: 28px; } }

/*===================classic serial=====================*/
.classic-1 {
  background-image: url(../images/product-1.png); }

.classic-2 {
  background-image: url(../images/product-2.png); }

.classic-3 {
  background-image: url(../images/product-3.png); }

/*================== desinger serail ===========================*/
.desinger_serial {
  background-image: url(../images/bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .desinger_serial h2 {
    color: white;
    margin-bottom: 2.5rem; }

.designer-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .designer-list li {
    display: block;
    position: relative;
    width: 48.64%;
    padding-top: 40.98%;
    /* 48.64 X 84.26% **/
    /* height: 100%; why cannot assign height ??*/ }
    @media (max-width: 992px) {
      .designer-list li {
        width: 48.38%; } }
    @media (max-width: 767px) {
      .designer-list li {
        width: 100%;
        padding-top: 84.26%;
        padding-bottom: 1rem; } }
    .designer-list li h3 {
      position: absolute;
      top: 50%;
      /*42.13%;*/
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: #650300;
      font-size: 4.5rem;
      font-weight: 900;
      z-index: 3; }
      @media (max-width: 992px) {
        .designer-list li h3 {
          font-size: 2rem; } }
  .designer-list a:hover .designer-img {
    opacity: 1; }
  .designer-list a:hover h3 {
    color: white; }

.white-img {
  position: absolute;
  top: 0px;
  width: 100%;
  padding-top: 84.26%;
  background-color: white;
  z-index: 1; }

.designer_1 {
  background-image: url(../images/product-8.png); }

.designer_2 {
  background-image: url(../images/product-9.png); }

.designer-img {
  /*width: ;
    height: */
  position: absolute;
  top: 0px;
  width: 100%;
  padding-top: 84.26%;
  background-size: cover;
  opacity: 0.5;
  z-index: 2; }

/* =============== recommand =============== */
.recommand h2 {
  margin-bottom: 2.5rem; }
  @media (max-width: 992px) {
    .recommand h2 {
      margin-bottom: 2rem; } }
  @media (max-width: 767px) {
    .recommand h2 {
      margin-bottom: 1.25rem; } }

.recommand ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.recommand-card {
  border-radius: 4px 5px 0px 0px;
  -webkit-box-shadow: 0px 0px 6px #DEE2E6;
          box-shadow: 0px 0px 6px #DEE2E6;
  width: 23%;
  height: 460px;
  position: relative; }
  @media (max-width: 992px) {
    .recommand-card {
      width: 48.39%; }
      .recommand-card:nth-child(-n+2) {
        margin-bottom: 2rem; } }
  @media (max-width: 767px) {
    .recommand-card {
      width: 100%; }
      .recommand-card:not(:last-child) {
        margin-bottom: 1rem; } }

.customer-img {
  width: 100%;
  height: 256px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.recommand-content {
  padding: 1rem; }
  .recommand-content > h4 {
    margin-bottom: 0.5rem; }
  .recommand-content h4 {
    font-size: 14px; }

.date {
  color: #707070;
  position: absolute;
  left: 1rem;
  bottom: 1rem; }

.customer-1 {
  background-image: url(../images/rec-1.png); }

.customer-2 {
  background-image: url(../images/rec-2.png); }

.customer-3 {
  background-image: url(../images/rec-3.png); }

.customer-4 {
  background-image: url(../images/rec-4.png); }

/*==================inform =========================*/
.inform {
  background-color: #FBF2F2; }

.inform-container {
  max-width: 730px;
  /* 38%;*/
  /*66.36%;*/ }
  @media (max-width: 992px) {
    .inform-container {
      width: 58.6%; } }
  @media (max-width: 767px) {
    .inform-container {
      width: 92%; } }
  .inform-container h2 {
    color: #000;
    margin-bottom: 1.5rem; }
  .inform-container .submit {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    padding: 1rem 143px;
    background-color: #AA0601;
    display: block;
    margin: 0 auto;
    color: white; }
    .inform-container .submit:hover {
      background-color: pink;
      color: #650300; }
  .inform-container label {
    margin-bottom: 4px; }
    @media (max-width: 992px) {
      .inform-container label {
        font-size: 14px; } }
  .inform-container ul {
    margin-bottom: 2.5rem; }
    @media (max-width: 992px) {
      .inform-container ul {
        margin-bottom: 1.25rem; } }
  .inform-container li:not(:last-child) {
    margin-bottom: 1rem; }
    @media (max-width: 992px) {
      .inform-container li:not(:last-child) {
        margin-bottom: 0.5rem; } }
  .inform-container textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none;
    /*remove the resize handle on the bottom right*/
    height: 136px; }
    .inform-container textarea::-webkit-input-placeholder {
      opacity: 0.2; }
    .inform-container textarea::-moz-placeholder {
      opacity: 0.2; }
    .inform-container textarea:-ms-input-placeholder {
      opacity: 0.2; }
    .inform-container textarea::-ms-input-placeholder {
      opacity: 0.2; }
    .inform-container textarea::placeholder {
      opacity: 0.2; }
    @media (max-width: 992px) {
      .inform-container textarea {
        height: 100px; } }
  .inform-container input[type=text], .inform-container textarea {
    display: block;
    width: 100%;
    background-color: #FBF2F2;
    border: 1px solid black;
    padding: 8px 12px; }
    .inform-container input[type=text]::-webkit-input-placeholder, .inform-container textarea::-webkit-input-placeholder {
      opacity: 0.2; }
    .inform-container input[type=text]::-moz-placeholder, .inform-container textarea::-moz-placeholder {
      opacity: 0.2; }
    .inform-container input[type=text]:-ms-input-placeholder, .inform-container textarea:-ms-input-placeholder {
      opacity: 0.2; }
    .inform-container input[type=text]::-ms-input-placeholder, .inform-container textarea::-ms-input-placeholder {
      opacity: 0.2; }
    .inform-container input[type=text]::placeholder, .inform-container textarea::placeholder {
      opacity: 0.2; }

.inform-desc {
  margin-bottom: 1.25rem; }
  @media (max-width: 992px) {
    .inform-desc {
      margin-bottom: 1rem; } }
  @media (max-width: 767px) {
    .inform-desc {
      margin-bottom: rem; } }

.contact-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .contact-checkbox input {
    visibility: hidden; }
  .contact-checkbox label {
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid black;
    background-color: #FBF2F2;
    margin: 4px;
    margin-right: 8px; }
    @media (max-width: 992px) {
      .contact-checkbox label {
        width: 14px;
        height: 14px;
        margin: 1.75px;
        margin-right: 4px; } }
  .contact-checkbox p {
    font-size: 1rem; }
    @media (max-width: 992px) {
      .contact-checkbox p {
        font-size: 14px; } }

/* serial nav */
.serial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto, sans-serif"; }
  .serial-list li {
    display: block;
    width: 33.33%;
    border-right: 1px solid #DCDCDC; }
    .serial-list li:first-child {
      border-left: 1px solid #DCDCDC; }
    .serial-list li.active {
      border-bottom: 8px solid #AA0601; }
      @media (max-width: 767px) {
        .serial-list li.active {
          border-bottom: 5px solid #AA0601; } }
  .serial-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 26px 0 18px 0; }
    .serial-list a:hover {
      background-color: #FBF2F2; }
    @media (max-width: 992px) {
      .serial-list a {
        padding: 14px 0 6px; } }
    @media (max-width: 767px) {
      .serial-list a {
        padding: 6px 0 1px; } }
  .serial-list img {
    width: 44px;
    height: 44px;
    margin-right: 10px; }
    @media (max-width: 992px) {
      .serial-list img {
        width: 30px;
        height: 30px; } }
    @media (max-width: 767px) {
      .serial-list img {
        width: 14px;
        height: 14px;
        margin-right: 3px; } }
  .serial-list h4 {
    font-size: 2rem;
    font-weight: bold;
    color: black; }
    @media (max-width: 992px) {
      .serial-list h4 {
        font-size: 1.5rem; } }
    @media (max-width: 767px) {
      .serial-list h4 {
        font-size: 14px; } }

/* seiral banner */
.serial-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px; }
  @media (max-width: 992px) {
    .serial-banner {
      margin-bottom: 56px; } }
  @media (max-width: 767px) {
    .serial-banner {
      margin-bottom: 32px; } }

.serial-banner-item {
  width: 50%;
  height: 304px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .serial-banner-item {
      height: 148px; } }

.serial-banner-optical1 {
  background-image: url(../images/banner-1.png); }

.serial-banner-optical2 {
  background-image: url(../images/banner-2.png); }

.serial-banner-sunglasses1 {
  background-image: url(../images/banner-3.png); }

.serial-banner-sunglasses2 {
  background-image: url(../images/product-2-color.png); }

/* serial content */
.serial-content {
  padding-bottom: 160px; }
  @media (max-width: 992px) {
    .serial-content {
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .serial-content {
      padding-bottom: 56px; } }

.seiral-inner-content {
  color: black; }
  .seiral-inner-content h2 {
    font-size: 42px;
    color: black; }
    @media (max-width: 992px) {
      .seiral-inner-content h2 {
        font-size: 2rem; } }
    @media (max-width: 767px) {
      .seiral-inner-content h2 {
        font-size: 20px; } }
  .seiral-inner-content h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .seiral-inner-content h3 {
        font-size: 1.5rem;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .seiral-inner-content h3 {
        font-size: 1rem;
        margin-bottom: 20px; } }

/* ---- product card----- */
.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px; }

.product-detial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem; }
  @media (max-width: 767px) {
    .product-detial {
      font-size: 1rem; } }

.product-price {
  font-weight: bold;
  color: #AA0601; }

.product-color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .product-color-list .product-color {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 4px; }
    @media (max-width: 767px) {
      .product-color-list .product-color {
        width: 1rem;
        height: 1rem;
        margin-right: 4px; } }

.product-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.product-color-1 {
  background-color: #5F3E2D; }

.product-color-2 {
  background-color: #B75929; }

/*----product card end -----*/
.opt-list {
  margin-bottom: 96px; }
  @media (max-width: 992px) {
    .opt-list {
      margin-bottom: 65px; } }
  @media (max-width: 767px) {
    .opt-list {
      margin-bottom: 40px; } }
  .opt-list .opt-card {
    width: calc((100% - 90px)/4); }
    .opt-list .opt-card:not(:nth-last-child(-n+4)) {
      margin-bottom: 104px; }
      @media (max-width: 992px) {
        .opt-list .opt-card:not(:nth-last-child(-n+4)) {
          margin-bottom: 72px; } }
      @media (max-width: 767px) {
        .opt-list .opt-card:not(:nth-last-child(-n+4)) {
          margin-bottom: 32px; } }
    @media (max-width: 992px) {
      .opt-list .opt-card {
        width: calc((100% - 30px)/2);
        margin-bottom: 0px; }
        .opt-list .opt-card:not(:nth-last-child(-n+2)) {
          margin-bottom: 65px; } }
    @media (max-width: 767px) {
      .opt-list .opt-card {
        width: 100%;
        margin: 0px; }
        .opt-list .opt-card:not(:nth-last-child(1)) {
          margin-bottom: 32px; } }

.opt-img {
  height: 164px; }
  @media (max-width: 767px) {
    .opt-img {
      height: 166px; } }

.opt-p-1 {
  background-image: url(../images/products-1.png); }

.opt-p-2 {
  background-image: url(../images/products-7.jpg); }

.opt-p-3 {
  background-image: url(../images/products-8.jpg); }

.opt-p-4 {
  background-image: url(../images/products-10.jpg); }

.opt-p-5 {
  background-image: url(../images/products-9.jpg); }

.opt-p-6 {
  background-image: url(../images/products-12.jpg); }

.sun-p-1 {
  background-image: url(../images/products-4.png); }

.sun-p-2 {
  background-image: url(../images/products-3.png); }

.sun-p-3 {
  background-image: url(../images/products-2.png); }

.sun-p-4 {
  background-image: url(../images/products-6.jpg); }

.sun-p-5 {
  background-image: url(../images/products-11.jpg); }

.sun-p-6 {
  background-image: url(../images/products-5.jpg); }

/* --------- sunglasses serial -----*/
@media (max-width: 767px) {
  .sun-list {
    margin-bottom: 40px; } }

.sun-list .sun-card {
  width: calc((100% - 60px)/3); }
  .sun-list .sun-card:not(:nth-last-child(-n+3)) {
    margin-bottom: 104px; }
    @media (max-width: 992px) {
      .sun-list .sun-card:not(:nth-last-child(-n+3)) {
        margin-bottom: 72px; } }
    @media (max-width: 767px) {
      .sun-list .sun-card:not(:nth-last-child(-n+3)) {
        margin-bottom: 32px; } }
  @media (max-width: 992px) {
    .sun-list .sun-card {
      width: calc((100% - 30px)/2);
      margin-bottom: 0px; }
      .sun-list .sun-card:not(:nth-last-child(-n+2)) {
        margin-bottom: 72px; } }
  @media (max-width: 767px) {
    .sun-list .sun-card {
      width: 100%;
      margin: 0px; }
      .sun-list .sun-card:not(:nth-last-child(1)) {
        margin-bottom: 32px; } }

.sun-img {
  height: 224px; }
  @media (max-width: 992px) {
    .sun-img {
      height: 164px; } }
  @media (max-width: 767px) {
    .sun-img {
      height: 166px; } }

.sun-pagination {
  display: none; }
  @media (max-width: 767px) {
    .sun-pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

/*# sourceMappingURL=all.css.map */
