img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
*, *:after, *:before{
    box-sizing: border-box;
}
body{
    font-family: 'Robot','Noto Sans TC', sans-serif;
    line-height: 1.5;
}
a{
    text-decoration: none;
}

