
$pad-width: 992px;
$phone-width: 767px;

$color-main: #AA0601;
$color-sec:  #FBF2F2;
$color-dark-red: #650300;
$color-dark: #111619;
$color-shadow :#DEE2E6;
$color-gray : #707070;
$color-border-gray: #555555;
$color-banner-border: #DCDCDC;

$font-family-main: 'Roboto, sans-serif';
$font-family-sec: 'Noto Sans, sans-serif';

$font-s: 14px;
$font-n: 16px; // normal
$font-sm :20px;
$font-m: 1.5rem;//24px;
$font-l: 2rem; //32
$font-ll: 3rem; //48

$product-color-brown : #5F3E2D;
$product-color-orange : #B75929;