.pagination{
    display: flex;
    justify-content: center;
    li{
        
        a{ 
            display: block;
            border: 1px solid $color-border-gray;
            border-left-width: 0px;
            color: $color-border-gray;
            padding: 12px 16px;
            font-size: 18px;
            &:hover{
                background-color: $color-sec;
            }
        }
        &:first-child>a {
            border-left-width: 1px ;
            
        }
        &:last-child>a{
            background-color:#F2F2F2;
        }
    }    
    
}